node_modules
dist
.DS_Store
Thumbs.db
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
package-lock.json
pnpm-lock.yaml
*.local
.env
.env.local
.env.*.local
coverage
.nyc_output
/.vite
/.cache
*.swp
*.swo
/android
/ios
/capacitor.config.json
/.idea
/.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
